#loginform {
	margin-top: 0px;
}

#sign-in-with-google {
	margin-bottom: 20px;
}

#sign-in-with-google a {
	display: inline-block;
	text-align: center;
}

#sign-in-with-google img {
	margin-left: -3px;
}
